.form-signin
  width: 330px
  padding: 15px
  text-align: center

  .form-floating:focus-within
    z-index: 2

  .form-start
    margin-bottom: -1px
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0

  .form-end
    margin-bottom: 10px
    border-top-left-radius: 0
    border-top-right-radius: 0